{% extends "layout.html" %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">About</h1>
</div>

<!-- Row -->
<div class="row">

    <!-- Background Stories -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Background Stories</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="mt-4 text-left small">
                    <p>The world was experiencing a global financial crisis around 2007 to 2008 due to excessive
                        risk-taking
                        by banks combined with the bursting of the United States housing bubble caused the values of
                        securities tied to U.S. real estate to plummet, damaging financial institutions globally and
                        culminating an international banking crisis. The crisis sparked the Great Recession, which at
                        the
                        time was the most severe global recession since the "Great Depression". Canberra as the capital
                        city
                        of Australia was no exception to this crisis.</p>
                    <p>
                        Through this project, we hope to understand how the real estate market in Canberra responded to
                        the
                        global financial crisis and what is the aftermath pricing trend. We are also hoping to gain any
                        valuable insight into the Canberra real estate market.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Data Sources -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Data Source</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="mt-4 text-left small">
                    <p>Data was obtained from HtAG®. HtAG® or Higher than Average Growth is an analytics portal that
                        assists
                        real estate professionals, investors and home buyers in making property-related decisions with
                        the
                        help of timely and actionable real estate market data. HtAG® leverages the benefits of machine
                        learning to rank the growth potential of over 420 Local Government Areas and 6,200 suburbs,
                        Australia wide.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Questions</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="my-4 mx-4 text-left small">
                    <ul>
                        <li>What features affect the real estate prices in Canberra?</li>
                        <li>What is the real estate price in Canberra going to be like in the near future according to the given datasets?
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">The Scope of the Research Problem</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="my-4 mx-4 text-left small">
                    <ul>
                        <li>Historical data from 2007 - 2019</li>
                        <li>Maximum real estate price capped at 5M (for analysis and visualization)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Users</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="my-4 mx-4 text-left small">
                    <ul>
                        <li>Users & renters</li>
                        <li>Property investors</li>
                        <li>Renovators</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}