# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\BenedictL\Desktop\Purwa\ben_purwa\MODUL3\knowledge\1_flask_ben\project_benedictlaiman\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
